# Make sure that
#   * the revs specified here match requirements-dev.txt
#   * the additional_dependencies here match requirements.txt
repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        args:
        - --diff
        - --check
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/PyCQA/pylint
    rev: v2.13.8
    hooks:
    -   id: pylint
        args:
          - --rcfile=setup.cfg
        additional_dependencies:
          - beautifulsoup4
          - thefuzz==0.19.0
          - python-telegram-bot==13.9
          - Sphinx
          - requests
          - github3.py==2.0.0
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.950
    hooks:
    -   id: mypy
        additional_dependencies:
          - beautifulsoup4
          - fuzzywuzzy
          - python-telegram-bot==13.9
          - Sphinx
          - requests
          - github3.py==2.0.0
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.32.0
    hooks:
    -   id: pyupgrade
        args:
          - --py36-plus
