# Make sure that
#   * the revs specified here match requirements-dev.txt
#   * the additional_dependencies here match requirements.txt

ci:
    autofix_prs: false
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black
        args:
        - --diff
        - --check
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
-   repo: https://github.com/PyCQA/pylint
    rev: v3.0.0a6
    hooks:
    -   id: pylint
        args:
          - --rcfile=setup.cfg
        additional_dependencies:
          - beautifulsoup4~=4.11.0
          - thefuzz~=0.19.0
          - python-telegram-bot[job-queue]==20.0
          - Sphinx~=5.0.2
          - httpx~=0.23.0
          - gql[aiohttp]~=3.3.0
          - async-lru~=1.0.3
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.1.1
    hooks:
    -   id: mypy
        additional_dependencies:
          - beautifulsoup4~=4.11.0
          - thefuzz~=0.19.0
          - python-telegram-bot[job-queue]==20.0
          - Sphinx~=5.0.2
          - httpx~=0.23.0
          - gql[aiohttp]~=3.3.0
          - async-lru~=1.0.3
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args:
          - --py36-plus
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        name: isort
        args:
        - --diff
        - --check
